<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de cadastro de Pedidos</title>
</head>
<body>
    <h1>Página de cadastro</h1>
    <hr>
    <form action="{{ url_for('cadastroPedido')}}" method="POST">
        <table>
            <tr>
                <td>Nome</td>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <td>Descrição</td>
                <td><input type="text" name="descricao"></td>
            </tr>
            <tr>
                <td>Valor</td>
                <td><input type="text" name="valor"></td>
            </tr>
             <tr>
                <td>ID do Cliente</td>
                <td><input type="text" name="cliente_id"></td>
            </tr>
            <tr>
                <td>ID do Entregador</td>
                <td><input type="text" name="entregador_id"></td>
            </tr>
        </table><br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="/index">Voltar</a>
</body>
</html>
