<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de cadastro de Clientes</title>
    <hr>
    <form action="{{ url_for('cadastroCliente')}}" method="POST">
        <table>
            <tr>
                <td>Nome</td>
                <td><input type="text" name="nome"></td>
            </tr>
            <tr>
                <td>CPF</td>
                <td><input type="text" name="cpf"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Telefone Residencial</td>
                <td><input type="text" name="telefoneResidencial"></td>
            </tr>
            <tr>
                <td>Telefone Celular</td>
                <td><input type="text" name="telefoneCelular"></td>
            </tr>
            <tr>
                <td>CEP</td>
                <td><input type="text" name="cep"></td>
            </tr>
            <tr>
                <td>Logradouro</td>
                <td><input type="text" name="logradouro"></td>
            </tr>
            <tr>
                <td>Número</td>
                <td><input type="text" name="numero"></td>
            </tr>
            <tr>
                <td>Complemento</td>
                <td><input type="text" name="complemento"></td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td><input type="text" name="cidade"></td>
            </tr>
            <tr>
                <td>UF</td>
                <td><input type="text" name="uf"></td>
            </tr>
        </table><br>
        <input type="submit" value="Cadastrar">
    </form>
    <a href="/index">Voltar</a>
</head>
<body>
    <h1>Página de cadastro</h1>
</body>
</html>